.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  max-width: 600px;
  margin: 0 auto;
  flex: 1; /* pushes footer down */
  margin-top: 50px;
  height: 80vh;
}

.logo {
  margin-bottom: 24px;
  width: 80px;
  height: auto;
}

.contact-header {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.full-width {
  width: 100%;
}

button {
  background-color: black !important;
  color: white !important;
  border-radius: 8px;
  font-weight: 500;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
  text-align: center;
  /* padding: 16px; */
  padding-top: 16px;
  font-size: 14px;
  color: gray;
  border-top: 1px solid #e0e0e0;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .contact-container {
    padding: 16px;
  }
}
