@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  // font: var(--mat-sys-body-medium);
  // Reset the user agent margin.
  font-family: 'Charter', Georgia, serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;          /* darker on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;              /* auto | thin | none */
  scrollbar-color: black#f1f1f1;      /* thumb | track */
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; 
  background-color: white;
  overflow-x: hidden;
}

body { 
  margin: 0;     
    font-family: "Noticia Text", serif;
}
