.report-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  max-width: 600px;
  margin: 0 auto;
  flex: 1;
}

.logo {
  width: 80px;
  height: auto;
  margin-top: 64px;
}

h2 {
  margin-bottom: 24px;
  font-weight: 500;
  color: black;
}

.report-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.full-width {
  width: 100%;
}

button {
  background-color: black !important;
  color: white !important;
  border-radius: 8px;
  font-weight: 500;
}

/* Footer */
.footer {
    position: relative;
    bottom: 0;
  text-align: center;
  padding-top: 16px;
  font-size: 14px;
  color: gray;
  border-top: 1px solid #e0e0e0;
  margin-top: 64px;
  height: 64px;
}

@media (max-width: 600px) {
  .report-container {
    padding: 16px;
  }
}
